# MongoDB Configuration
MONGODB_URI=mongodb+srv://admin:password@cluster.mongodb.net/student_abroad?retryWrites=true&w=majority
DATABASE_NAME=student_abroad

# Server Configuration
NODE_ENV=development
PORT=3001
